@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@500&display=swap');
/*Imps*/
body {
    padding: 0;
    margin: 0;
    background: rgb(17 24 39);
    background-repeat: no-repeat;    
}

/* Top Part */

.top {
    display: flex;
    height: 60px;
    position: sticky;
    align-items: center;
    background: rgb(30 41 59);
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    font-size: 25px;
    font-weight: 700;
    padding-left: 50px;
    font-family: 'Quicksand', sans-serif;
}

.logo a {
    color: #d8b4fe;
    margin: 0;
    text-decoration: none;
}

/* Navigation Bar */

.navs {
    font-size: 15px;
    padding-right: 50px;
    font-family: 'Poppins', sans-serif;
}

.navs a {
    padding: 10px;
    color: #d8b4fe;
    text-decoration: none;
}

/* Welcome */

